{% extends  "layout/admin/base-admin.html" %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
{% endblock%}

{% block page_content %}

<section class="content-header">
    <!-- Horizontal Form -->
    <div class="row">
        <div class="box box-danger col-md-12 col-xs-12 col-lg-12">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-edit"></i> Edit Barang Masuk <b> - {{barang_masuk.nm_barang}} </b></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="col-md-9 col-xs-9 col-lg-9">         
                <form action="{% url 'barangmasuk_edit' pk=barang_masuk.pk %}" method="POST" class="form-horizontal"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nm_barang" class="col-sm-2 control-label">Nama Barang : </label>
                        <div class="col-sm-8">
                            {{form.nm_barang}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kodebarang" class="col-sm-2 control-label">Kode Barang : </label>
                        <div class="col-sm-8">
                            {{form.kd_barang}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tgl_masuk" class="col-sm-2 control-label">Tanggal Masuk : </label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                {{form.tgl_masuk}}
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="jml_masuk" class="col-sm-2 control-label">Jumlah : </label>
                        <div class="col-sm-2">
                            {{form.jml_masuk}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="supplier_id" class="col-sm-2 control-label">Supplier : </label>
                        <div class="col-sm-8" id="supplier_id" >
                            {{form.supplier_id}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="resi" class="col-sm-2 control-label">Harga Barang : </label>
                        <div class="col-sm-8">
                            {{form.harga_satuan}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="resi" class="col-sm-2 control-label">No Resi : </label>
                        <div class="col-sm-8">
                            {{form.no_resi}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="merk_id" class="col-sm-2 control-label">Merk : </label>
                        <div class="col-sm-8" id="merk_id">
                            {{form.merk_id}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="jenis_id" class="col-sm-2 control-label">Jenis : </label>
                        <div class="col-sm-8" id="jenis_id">
                            {{form.jenis_id}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="jenis_id" class="col-sm-2 control-label">Tipe : </label>
                        <div class="col-sm-8" id="tipe_id">
                            {{form.tipe_id}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gambar" class="col-sm-2 control-label">Gambar : </label>
                        <div class="col-sm-8">
                            
                            {{form.foto_masuk}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pull-right">
                    <button type="button" class="btn btn-warning btn-lg"  data-toggle="modal" data-target="#myModal1">Edit</button>
                    <!-- modal konfirmasi delete -->
                    <div class="modal fade" id="myModal1" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title">Konfirmasi Edit</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Apakah anda yakin ingin mengubah kode nama Barang <strong>{{form.kd_barang.value}}</strong> dengan nama barang <strong>{{form.nm_barang.value}}</strong> ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" value="Ya" class="btn btn-warning"></input>
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Tidak</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <button type="button" class="btn btn-danger btn-lg"  data-toggle="modal" data-target="#myModal">Hapus</button>
                        <!-- modal konfirmasi delete -->
                        <div class="modal fade" id="myModal" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title">Konfirmasi Hapus</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Apakah anda yakin ingin menghapus kode nama Barang <strong>{{form.kd_barang.value}}</strong> dengan nama barang <strong>{{form.nm_barang.value}}</strong> ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/inventaris/masterdata/tipe/delete/{{ tipe.id_tipe }}" type="button" class="btn btn-danger">Hapus</a>
                                            <button type="button" class="btn btn-info" data-dismiss="modal">Tidak</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <br/>
                            <!-- end modal -->
                            <a href="/inventaris/barangmasuk" class="btn btn-lg btn-success"><b>Kembali</b></a>
                            <br/>
                            <br/>
                            <h4>Foto:</h4>
                            {% if barang_masuk.foto_masuk %}
                            <img src="{{barang_masuk.foto_masuk.url}}" class="img-responsive" width="150" height="150" />
                            {% else %}
                            <span class="text-muted" ><b> Tanpa Foto </b></span>
                            {% endif %}
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block extrajs%}
    <script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
    <script>
        $('#datepicker').datepicker({
            format : "yyyy-mm-dd",
            autoclose: true
        });
        
        $('#id_kd_barang,#datepicker,#id_tipe_id').attr('readonly',true);
        
        $.each($('select'),function(index,data){
            var id = $(data).attr('id');
            $('#'+id).addClass('form-control selectpicker')
            $('#'+id).attr('data-live-search',true)
        });
        
        $('.confirm-delete').on('click', function(e) {
            return confirm('Apakah anda yakin ingin menghapus data tersebut?')
        });
    </script>   
    {% endblock %}