{% extends  "layout/admin/base-admin.html" %}
{% load static %}
{% load humanize %}
{% block extrastyle %}
<style>

</style>
{% endblock%}

{% block page_content %}
<section class="content-header">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-footer clearfix">
                    <div class="box-header with-border">
                        <i class="fa fa-list-alt"></i>
                        <h1 class="box-title">Daftar Barang Masuk</h1>
                    </div>
                    <form action="{% url 'barangmasuk_grid_cari' %}" method="GET">
                        <div class="input-group input-group-md col-md-4 col-xs-6 col-lg-4 pull-left">
                            <input type="text" name="cari" value="{{request.GET.cari}}" class="form-control" placeholder="Cari ......">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    
                    <div class="pull-right col-md-4">
                        <a class="btn btn-primary pull-right" href="/inventaris/barangmasuk/tambah"><i class="fa fa-plus"></i> Tambah</a>
                        <a class="btn btn-primary pull-right" href="/inventaris/barangmasuk/list"><i class="fa fa-th-list"></i></a>
                    </div>
                    <br/>
                    <br/>
                    <div style="text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-md justify-content-center">
                                {% if daftar_barang_masuk.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_barang_masuk.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_barang_masuk.number }} of {{ daftar_barang_masuk.paginator.num_pages }}.</span></li>
                                {% if daftar_barang_masuk.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_barang_masuk.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_barang_masuk.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!-- KONTEN -->
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-lg-12">
                            {% if daftar_barang_masuk %}
                            {% for barang_masuk in daftar_barang_masuk %}
                            <div class="box box-warning">
                                <br>
                                <div class="row">
                                    <div class="col-sm-2 col-xs-3 col-lg-2">
                                        <div class="container">
                                            {% if barang_masuk.foto_masuk %}
                                            <img src="{{barang_masuk.foto_masuk.url}}" class="img-responsive" width="100" height="100" />
                                            {% else %}
                                            <span class="text-muted" > Tanpa Foto </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3 col-lg-2">
                                        <div class="form-group">
                                            <h5><strong>Nama Barang :</strong></h5>
                                            <p>{{barang_masuk.nm_barang}}</p>
                                            <h5><strong>Kode Barang :</strong></h5>
                                            <p>{{barang_masuk.kd_barang}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-4 col-lg-3">
                                        <div class="form-group">
                                            <h5><strong>Tanggal Masuk :</strong> {{barang_masuk.tgl_masuk}}</h5>
                                            <h5><strong>Serial Number :</strong> {{barang_masuk.sn_barang}}</h5>
                                            <h5><strong>Jumlah :</strong> {{barang_masuk.jml_masuk}}</h5>
                                            <h5><strong>Supplier :</strong> {{barang_masuk.supplier_id}}</h5>
                                            <h5><strong>No Resi :</strong> {{barang_masuk.no_resi}}</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 pull-right">
                                       {% if forloop.first %}
                                       <a href="/inventaris/barangmasuk/edit/{{ barang_masuk.id_brg_masuk }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                       {% endif %}
                                       <a href="/inventaris/barangmasuk/delete/{{ barang_masuk.id_brg_masuk }}" class="btn btn-danger btn-sm confirm-delete">Hapus</a>
                                   </div>
                               </div>
                               <br/>
                           </div>
                           {% endfor %}
                           {% else %}
                           <div class="box box-warning">
                            <br/>  
                            <span><center>Tidak ada data barang masuk saat ini...</center></span>
                            <br/>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!--END KONTEN  -->
                <div style="text-align: center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-md justify-content-center">
                            {% if daftar_barang_masuk.has_previous %}
                            <li class="page-item">
                                <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                <a href="?page={{ daftar_barang_masuk.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                            </li>
                            {% endif %}
                            <li class="page-item disabled"><span class="current">Page {{ daftar_barang_masuk.number }} of {{ daftar_barang_masuk.paginator.num_pages }}.</span></li>
                            {% if daftar_barang_masuk.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ daftar_barang_masuk.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                <a class="page-link" href="?page={{ daftar_barang_masuk.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}

{% block extrajs %}
<script>
    $('.confirm-delete').on('click', function(e) {
        return confirm('Apakah anda yakin ingin menghapus data tersebut?')
    })
</script>
{% endblock %}