{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block extrastyle %}
<style>
    .pagination a {
        color: black;
        float: left;
        padding: 4px 8px;
        text-decoration: none;
        transition: background-color .3s;
    }
    
    .pagination a.active {
        background-color: dodgerblue;
        color: white;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;
    }
</style>
{% endblock%}

{% block page_content %}    
<section class="content-header">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-footer clearfix">
                    <div class="box-header with-border">
                        <i class="fa fa-list-alt"></i>
                        <h1 class="box-title">Daftar Barang Masuk</h1>
                    </div>
                    <form action="{% url 'barangmasuk_cari' %}" method="GET">
                        <div class="input-group input-group-md col-md-4 col-xs-6 col-lg-4 pull-left">
                            <input type="text" name="cari" value="{{request.GET.cari}}" class="form-control" placeholder="Cari ......">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <div class="pull-right col-md-4">
                        <a class="btn btn-primary pull-right" href="/inventaris/barangmasuk/tambah"><i class="fa fa-plus"></i> Tambah</a>
                        <a class="btn btn-primary pull-right" href="/inventaris/barangmasuk"><i class="fa fa-pencil-square-o"></i></a>
                    </div>
                    <br/>
                    <br/>
                    <div style="text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-md justify-content-center">
                                {% if daftar_barang_masuk.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_barang_masuk.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_barang_masuk.number }} of {{ daftar_barang_masuk.paginator.num_pages }}.</span></li>
                                {% if daftar_barang_masuk.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_barang_masuk.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_barang_masuk.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    {% if messages %}
                    <div class="col-sm-12">
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 {% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="icon fa fa-check"></i> {{ message }}</h4>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="col-sm-12">
                        {% if barang_masuk != None %}
                        <p style="display: inline-block">Hasil Pencarian : {{barang_masuk}}</p>
                        {% endif %}
                        <table id="example" class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>No</th>
                                    <th>Kode Barang</th>
                                    <th>Nama Barang</th>
                                    <th>Tanggal Masuk</th>
                                    <th>Jumlah</th>
                                    <th>Supplier</th>
                                    <th>No Resi</th>
                                    {% if request.session.level == 'SuperAdmin' %}
                                    <th>Aksi</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% if daftar_barang_masuk %}
                                {% for barang_masuk in daftar_barang_masuk %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ barang_masuk.kd_barang }}</td>
                                    <td>{{ barang_masuk.nm_barang }}</td>
                                    <td>{{ barang_masuk.tgl_masuk }}</td>
                                    <td>{{ barang_masuk.jml_masuk }}</td>
                                    <td>{{ barang_masuk.supplier_id }}</td>
                                    <td>{{ barang_masuk.no_resi }}</td>
                                    {% if request.session.level == 'SuperAdmin' %}
                                    <td>
                                        {% if forloop.first %}
                                        <a href="/inventaris/barangmasuk/edit/{{ barang_masuk.id_brg_masuk }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                        {% endif %}
                                        <a href="/inventaris/barangmasuk/delete/{{ barang_masuk.id_brg_masuk }}" type="button" class="btn btn-danger btn-sm confirm-delete">Hapus</a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% elif barang_masuk != None %}
                                <tr>
                                    <td colspan="8"><center>Barang Tersebut tidak ada...</center></td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="8"><center>Tidak ada data barang masuk saat ini...</center></td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table> 
                    </div>
                    <div style="text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-md justify-content-center">
                                {% if daftar_barang_masuk.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_barang_masuk.previous_page_number }}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_barang_masuk.number }} of {{ daftar_barang_masuk.paginator.num_pages }}.</span></li>
                                {% if daftar_barang_masuk.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_barang_masuk.next_page_number }}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_barang_masuk.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs %}
<script>
    $('.confirm-delete').on('click', function(e) {
        return confirm('Apakah anda yakin ingin menghapus data tersebut?')
    })
</script>
{% endblock %}