{% extends  "layout/admin/base-admin.html" %}

{% load static %}
{% block extrastyle %}
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
{% endblock%}

{% block page_content %}
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-edit"></i>
                    <h1 class="box-title">Tambah User</h1>
                </div>
                <div class="box-body">
                    <form action="/register" method="POST" class="form-horizontal">
                        {% csrf_token %}
                        {{form.as_p}}
                        <p><label for="level">level:</label> 
                            <select class="form-control" id="level" name="level">
                                <option value="Admin">Admin</option>
                                <option value="SuperAdmin">SuperAdmin</option>
                            </select>
                        </p>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Tambah</button>
                        <!-- modal konfirmasi delete -->
                        <div class="modal fade" id="myModal" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title">Konfirmasi Tambah</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Apakah anda yakin ingin menambah user ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" value="Tambah" class="btn btn-warning"></input>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Tidak</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'user' %}" type="button" class="btn btn-primary">Kembali</a>
                        <!-- </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs%}
<script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<script>
    $('#datepicker').datepicker({
        autoclose: true
    });
</script>
{% endblock %}