{% extends  "layout/admin/base-admin.html" %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
{% endblock%}

{% block page_content %}

<section class="content-header">
    <!-- Horizontal Form -->
        <div class="box box-info col-md-12">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-pencil"></i> Edit User <b> - {{user.first_name}} {{user.last_name}}</b></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="col-md-9 col-xs-9 col-lg-9">        
                <form action="{% url 'user_edit' pk=user.pk %}" method="POST" class="form-horizontal">    
                    {% csrf_token %}
                    <div class="box-body">
                        {{form.as_p}}
                        <!-- <div class="form-group">
                            <label for="nama" class="col-sm-3 control-label">{{form.nm_lengkap.label}} :</label>
                            <div class="col-sm-8">
                                {{ form.nm_lengkap }} 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Username" class="col-sm-3 control-label">{{form.username.label}} :</label>
                            <div class="col-sm-8">
                                {{ form.username }}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="level" class="col-sm-3 control-label">{{form.level.label}} :</label>
                            <div class="col-sm-8">
                                {{ form.level }}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="Password" class="col-sm-3 control-label">{{form.password.label}} :</label>
                            <div class="col-sm-8">
                                {{form.password}}
                            </div>
                        </div> -->
                        <!-- <div class="col-md-offset-3 col-xs-offset-3 col-lg-offset-3"> -->
                            <input type="submit" value="Edit" class="btn btn-warning confirm-edit"></input>
                            <a href="{% url 'user' %}" class="btn btn-md btn-primary"><b>Kembali</b></a>
                        <!-- </div> -->
                    </div>
                </form>
            </div>
        </div>
</section>
    {% endblock %}
    {% block extrajs%}
    <script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
    <script>
        $('#datepicker').datepicker({
            autoclose: true
        });
        // $('#id_level').attr('disabled',true);
    </script>
    {% endblock %}