{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block extrastyle %}
<style>
    .pagination a {
        color: black;
        float: left;
        padding: 4px 8px;
        text-decoration: none;
        transition: background-color .3s;
    }
    
    .pagination a.active {
        background-color: dodgerblue;
        color: white;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;
    }
</style>
{% endblock%}

{% block page_content %}
<section class="content-header">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-users"></i>
                    <h1 class="box-title">Daftar User</h1>
                </div>
                <div class="box-footer clearfix">                    
                    <form action="{% url 'user_cari' %}" method="GET">
                        <div class="input-group input-group-md col-md-4 col-xs-6 col-lg-4 pull-left">
                            <input type="text" name="cari" value="{{request.GET.cari}}" class="form-control" placeholder="Cari ......">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <div class="pull-right col-md-4">
                        <a class="btn btn-primary pull-right" href="{% url 'user_add' %}"><i class="fa fa-user-plus"></i> Tambah</a>
                    </div>
                    <br/>
                    <br/    >
                    <!-- paginate atas -->
                    <div style="text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-md justify-content-center">
                                {% if daftar_users.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_users.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_users.number }} of {{ daftar_users.paginator.num_pages }}.</span></li>
                                {% if daftar_users.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_users.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_users.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    
                    <!-- tutup paginate atas -->
                    
                    {% if users != None %}
                    <p style="display: inline-block">Hasil Pencarian : {{users}}</p>
                    {% endif %}
                    {% if messages %}
                    <div class="col-sm-12">
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 {% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="icon fa fa-check"></i> {{ message }}</h4>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <table id="example" class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>No</th>
                                <th>Nama</th>
                                <th>Username</th>
                                <th>Level</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if daftar_users %}
                            {% for users in daftar_users %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ users.akun__nm_lengkap }}</td>
                                <td>{{ users.username }}</td>
                                <td>{{ users.akun__level }}</td>
                                <td>
                                    <a href="/inventaris/users/edit/{{ users.id }}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                                    <a href="/inventaris/users/delete/{{ users.id }}" type="button" class="btn btn-danger confirm-delete"><i class="fa fa-trash"></i></a>                                   
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5"><center>Tidak ada data user saat ini...</center></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table> 
                    <!-- paginate bawah -->
                    <div style="text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-md justify-content-center">
                                {% if daftar_users.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_users.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_users.number }} of {{ daftar_users.paginator.num_pages }}.</span></li>
                                {% if daftar_users.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_users.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_users.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!-- paginate bawah tutup -->
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block extrajs %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        $('.confirm-delete').on('click', function(e) {
            return confirm('Apakah anda yakin ingin menghapus data tersebut?')
        })
    </script>
    {% endblock %}