{% extends  "layout/admin/base-admin.html" %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
{% endblock%}

{% block page_content %}

<section class="content-header">
    <!-- Horizontal Form -->
    <div class="box box-warning col-md-12">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-edit"></i> Ubah Password <b> - {{ request.session.nm_lengkap }}</b></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="col-md-9 col-xs-9 col-lg-9">        
            <form class="form-horizontal" action="{% url 'changepassword' pk=user.pk %}" method="POST">
                {% csrf_token %}
                <div class="box-body">
                    <div class="form-group">
                        <label for="first_name" class="col-sm-2 control-label">{{form.first_name.label}}: </label>
                        <div class="col-sm-10">
                            {{form.first_name}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="col-sm-2 control-label">{{form.last_name.label}}: </label>
                        <div class="col-sm-10">
                            {{form.last_name}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="col-sm-2 control-label">{{form.username.label}}: </label>
                        <div class="col-sm-10">
                            {{form.username}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="col-sm-2 control-label">{{form.email.label}}: </label>
                        <div class="col-sm-10">
                            {{form.email}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="col-sm-2 control-label">{{form.password.label}}: </label>
                        <div class="col-sm-10">
                            {{form.password}}
                        </div>
                    </div>
                    <!-- <div class="col-md-offset-3 col-xs-offset-3 col-lg-offset-3"> -->
                        <div class="form-group pull-right">
                            <button type="button" class="btn btn-warning"  data-toggle="modal" data-target="#myModal">Edit</button>
                            <!-- modal konfirmasi delete -->
                            <div class="modal fade" id="myModal" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title">Konfirmasi Ubah Password</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Apakah anda yakin ingin mengubah password anda ?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="submit" value="Edit" class="btn btn-warning"></input>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Tidak</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{% url 'dashboard' %}" type="button" class="btn btn-primary">Kembali</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        {% endblock %}
        {% block extrajs%}
        <script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
        <script>
            $('#datepicker').datepicker({
                autoclose: true
            });
            $('#id_first_name,#id_last_name,#id_email,#id_username').attr('readonly',true);
            // $('#id_level').prop('disabled',true);
        </script>
        {% endblock %}