{% include "layout/base.html" %}

{% load static %}

{% block content %}
<section class="login-form">
    <form method="POST" action="/login" role="login">
        {% csrf_token %}
        {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <strong><h6><center>SISTEM INFORMASI INVENTARIS BARANG</center></h6></strong>
        <img src="{% static 'assets/images/logo.png' %}" class="img-responsive" width="100" height="100" />
        <center><h5>CV. Adisatya IT Consultant</h5></center>
        <input type="text" name="login_username" placeholder="Username" required class="form-control input-lg" />
        <input type="password" name="login_password" placeholder="Password" required class="form-control input-lg" />
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In" />
    </form>
</section>
{% endblock %}