{% extends  "layout/admin/base-admin.html" %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock%}

{% block page_content %}
<section class="content-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-database"></i>
                    <h1 class="box-title">Daftar Merk</h1>
                </div>
                <div class="box-body">
                    <a class="btn btn-primary pull-right" href="/inventaris/masterdata/merk/tambah"><i class="fa fa-plus"></i> Tambah</a>
                    <form action="{% url 'merk_cari' %}" method="GET">
                        <div class="input-group input-group-md col-md-4 col-xs-6 col-lg-4">
                            <input type="text" name="cari" value="{{request.GET.cari}}" class="form-control" placeholder="Cari ......">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- pagination atas -->
                    <div style="text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-md justify-content-center">
                                {% if daftar_merk.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_merk.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_merk.number }} of {{ daftar_merk.paginator.num_pages }}.
                                    {% if daftar_merk.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ daftar_merk.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                        <a class="page-link" href="?page={{ daftar_merk.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        <!-- end pagination atas -->
                        <!-- konten -->
                        <div class="row">
                            {% if messages %}
                            <div class="col-sm-12">
                                {% for message in messages %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4 {% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="icon fa fa-check"></i> {{ message }}</h4>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="col-sm-12">
                                {% if key_merk != None %}
                                <p style="display: inline-block">Hasil Pencarian : {{key_merk}}</p>
                                {% endif %}
                                <table id="data" class="table table-bordered table-striped table-responsive no-padding" id="myTable">
                                    <thead>
                                        <tr>
                                            <th width="50px">No</th>
                                            <th>Merk</th>
                                            <th width="350px">Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if daftar_merk %}
                                        {% for merk in daftar_merk %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ merk.nama_merk }}</td>
                                            <td><a href="/inventaris/masterdata/merk/edit/{{ merk.id_merk }}" class="btn btn-sm btn-warning"><i
                                                class="fa fa-edit"></i></a>
                                                <a href="/inventaris/masterdata/merk/delete/{{ merk.id_merk }}" class="btn btn-danger btn-sm confirm-delete">Hapus</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% elif key_merk != None %}
                                        <tr>
                                            <td colspan="3"><center>Merk tersebut tidak ada...</center></td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="3"><center>Tidak ada data merk saat ini...</center></td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end konten -->
                        
                        <!-- pagination bawah -->
                        <div style="text-align: center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-md justify-content-center">
                                    {% if daftar_merk.has_previous %}
                                    <li class="page-item">
                                        <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                        <a href="?page={{ daftar_merk.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                    </li>
                                    {% endif %}
                                    <li class="page-item disabled"><span class="current">Page {{ daftar_merk.number }} of {{ daftar_merk.paginator.num_pages }}.</span></li>
                                    {% if daftar_merk.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ daftar_merk.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                        <a class="page-link" href="?page={{ daftar_merk.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        <!-- end pagination bawah -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block extrajs %}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $('.confirm-delete').on('click', function(e) {
            return confirm('Apakah anda yakin ingin menghapus data tersebut?')
        })
    </script>
    {% endblock %}