{% extends  "layout/admin/base-admin.html" %}
{% load static %}
{% block extrastyle %}
<style>
.pagination a {
  color: black;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
</style>
{% endblock%}

{% block page_content %}
<section class="content">
   <div class="row">
      <div class="col-sm-12">
         <div class="box box-primary">
            <div class="box-header">
               <i class="fa fa-database"></i>
               <h1 class="box-title">Daftar Customer</h1>
           </div>
           <div class="box-body">
               <a class="btn btn-primary pull-right" style="display: inline-block" href="/inventaris/masterdata/customer/tambah"><i class="fa fa-plus"></i> Tambah</a>
               <form action="{% url 'customer_cari' %}" method="GET">
                  <div class="input-group input-group-md col-md-4 col-xs-6 col-lg-4 pull-left">
                     <input type="text" name="cari" value="{{request.GET.cari}}" class="form-control" placeholder="Cari ......">
                     <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            <br/>
            <br/>
            <!-- pagination atas -->
            <div style="text-align: center">
             <nav aria-label="Page navigation example">
                <ul class="pagination pagination-md justify-content-center">
                   {% if daftar_customer.has_previous %}
                   <li class="page-item">
                      <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                      <a href="?page={{ daftar_customer.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                  </li>
                  {% endif %}
                  <li class="page-item disabled"><span class="current">Page {{ daftar_supplier.number }} of {{ daftar_customer.paginator.num_pages }}.</span></li>
                  {% if daftar_customer.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ daftar_customer.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                      <a class="page-link" href="?page={{ daftar_customer.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                  </li>
                  {% endif %}
              </ul>
          </nav>
      </div>
      <!-- end pagination atas -->
      <!-- konten -->
      <div class="row">
         {% if messages %}
         <div class="col-sm-12">
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
               <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
               <h4 {% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="icon fa fa-check"></i> {{ message }}</h4>
           </div>
           {% endfor %}
       </div>
       {% endif %}
       <div class="col-sm-12">
           {% if key_customer != None %}
           <p style="display: inline-block">Hasil Pencarian : {{key_customer}}</p>
           {% endif %}
           <table id="data" class="table table-bordered table-striped table-responsive no-padding" id="myTable">
              <thead>
                 <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>No HP</th>
                    {% if request.session.level == 'SuperAdmin' %}
                    <th>Aksi</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
             {% if daftar_customer %}
             {% for customer in daftar_customer %}
             <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ customer.nama_customer }}</td>
                <td>{{ customer.alamat_customer }}</td>
                <td>{{ customer.notlp_customer }}</td>
                <td>
                  <a href="/inventaris/masterdata/customer/edit/{{ customer.id_customer }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                    <a href="/inventaris/masterdata/customer/delete/{{ customer.id_customer }}" class="btn btn-danger btn-sm confirm-delete">Hapus</a>
                </td>
            </tr>
            {% endfor %}
            {% elif key_customer != None %}
            <tr>
                <td colspan="5"><center>Costumer tersebut tidak ada...</center></td>
            </tr>
            {% else %}
            <tr>
              <td colspan="5"><center>Tidak ada data costumer saat ini...</center></td>
          </tr>
          {% endif %}
      </tbody>
  </table>
</div>
</div>
<!-- end konten -->
<!-- pagination bawah -->
<div style="text-align: center">
  <nav aria-label="Page navigation example">
     <ul class="pagination pagination-md justify-content-center">
        {% if daftar_customer.has_previous %}
        <li class="page-item">
           <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
           <a href="?page={{ daftar_customer.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
       </li>
       {% endif %}
       <li class="page-item disabled"><span class="current">Page {{ daftar_supplier.number }} of {{ daftar_customer.paginator.num_pages }}.</span></li>
       {% if daftar_customer.has_next %}
       <li class="page-item">
           <a class="page-link" href="?page={{ daftar_customer.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
           <a class="page-link" href="?page={{ daftar_customer.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
       </li>
       {% endif %}
   </ul>
</nav>
</div>
<!-- end pagination bawah -->
</div>
</div>
</div>
</div>
</section>
{% endblock %}
{% block extrajs %} 
<script>
 $('.confirm-delete').on('click', function(e) {
    return confirm('Apakah anda yakin ingin menghapus data tersebut?')
})
</script>
{% endblock %}