{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block page_content %}
<section class="content-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-edit"></i>
                    <h1 class="box-title">Edit Customer - <strong>{{customer.nama_customer}}</strong></h1>
                </div>
                <div class="box-body">
                    <form action="{% url 'customer_edit' pk=customer.pk %}" method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <div class="col-sm-8">
                            <br>
                            <div class="form-group">
                                <label for="nama_customer" class="col-sm-3 control-label">{{form.nama_customer.label}}: </label>
                                <div class="col-sm-8">
                                    {{form.nama_customer}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="alamat_customer" class="col-sm-3 control-label">{{form.alamat_customer.label}}: </label>
                                <div class="col-sm-8">
                                    {{form.alamat_customer}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="notlp_customer" class="col-sm-3 control-label">{{form.notlp_customer.label}}: </label>
                                <div class="col-sm-8">
                                    {{form.notlp_customer}}
                                </div>
                            </div>
                            <div class="form-group col-md-4 pull-right">
                                <button type="button" class="btn btn-warning"  data-toggle="modal" data-target="#myModal">Edit</button>
                                <!-- modal konfirmasi delete -->
                                <div class="modal fade" id="myModal" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span></button>
                                                    <h4 class="modal-title">Konfirmasi Edit</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Apakah anda yakin ingin mengubah customer <strong>{{customer.nama_customer}}</strong> ?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="submit" value="Edit" class="btn btn-warning"></input>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Tidak</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{% url 'customer' %}" type="button" class="btn btn-primary">Kembali</a>
                                    <!-- end modal -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block extrajs %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        $('.confirm-edit').on('click', function(e) {
            return confirm('Apakah anda yakin ingin mengubah data tersebut?')
        })
    </script>
    {% endblock %}