{% extends  "layout/admin/base-admin.html" %}
{% load static %}
{% block extrastyle %}
<style>
    .pagination a {
        color: black;
        float: left;
        padding: 4px 8px;
        text-decoration: none;
        transition: background-color .3s;
    }
    
    .pagination a.active {
        background-color: dodgerblue;
        color: white;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
</style>
{% endblock%}

{% block page_content %}
<section class="content-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-database"></i>
                    <h1 class="box-title">Daftar Jenis</h1>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-10">
                            <form action="{% url 'jenis_cari' %}" method="GET">
                                <div class="input-group input-group-md col-md-4 col-xs-6 col-lg-4">
                                    <input type="text" name="cari" value="{{request.GET.cari}}" class="form-control" placeholder="Cari ......">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="pull-right col-md-2">
                            <a class="btn btn-primary pull-right" href="/inventaris/masterdata/jenis/tambah"><i class="fa fa-plus"></i> Tambah</a>
                        </div>
                    </div>                  
                    <!-- pagination atas -->
                    <div style="text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-md justify-content-center">
                                {% if daftar_jenis.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_jenis.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_jenis.number }} of {{ daftar_jenis.paginator.num_pages }}.</span></li>
                                {% if daftar_jenis.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_jenis.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_jenis.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!-- end pagination atas -->
                    
                    <!-- konten -->
                    <div class="row">
                        {% if messages %}
                        <div class="col-sm-12">
                            {% for message in messages %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4 {% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="icon fa fa-check"></i> {{ message }}</h4>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="col-sm-12">
                            {% if key_jenis != None %}
                            <p style="display: inline-block">Hasil Pencarian : {{key_jenis}}</p>
                            {% endif %}
                            <table id="data" class="table table-bordered table-striped table-responsive no-padding">
                                <thead>
                                    <tr>
                                        <th width="50px">No</th>
                                        <th>Jenis</th>
                                        <th width="350px">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if daftar_jenis %}
                                    {% for jenis in daftar_jenis %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ jenis.nama_jenis }}</td>
                                        <td>
                                            <a href="/inventaris/masterdata/jenis/edit/{{ jenis.id_jenis }}" class="btn btn-sm btn-warning"><i
                                            class="fa fa-edit"></i></a>
                                            <a href="/inventaris/masterdata/jenis/delete/{{ jenis.id_jenis }}" class="btn btn-danger btn-sm confirm-delete">Hapus</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% elif key_jenis != None %}
                                        <tr>
                                            <td colspan="3"><center>Jenis tersebut tidak ada...</center></td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="3"><center>Tidak ada data jenis saat ini...</center></td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end konten -->
                        
                        <!-- pagination bawah -->
                        <div style="text-align: center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-md justify-content-center">
                                    {% if daftar_jenis.has_previous %}
                                    <li class="page-item">
                                        <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                        <a href="?page={{ daftar_jenis.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                    </li>
                                    {% endif %}
                                    <li class="page-item disabled"><span class="current">Page {{ daftar_jenis.number }} of {{ daftar_jenis.paginator.num_pages }}.</span></li>
                                    {% if daftar_jenis.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ daftar_jenis.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                        <a class="page-link" href="?page={{ daftar_jenis.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        <!-- end pagination bawah -->
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block extrajs %}
    <script>
        $('.confirm-delete').on('click', function(e) {
            return confirm('Apakah anda yakin ingin menghapus data tersebut?')
        })
    </script>
    {% endblock %}