{% extends  "layout/admin/base-admin.html" %}
{% load static %}
{% load humanize %}
{% block extrastyle %}
<style>
    .pagination a {
        color: black;
        float: left;
        padding: 4px 8px;
        text-decoration: none;
        transition: background-color .3s;
    }
    
    .pagination a.active {
        background-color: dodgerblue;
        color: white;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;
    }
</style>
{% endblock%}

{% block page_content %}
<section class="content-header">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-footer clearfix">
                    <div class="box-header with-border">
                        <i class="fa fa-list-alt"></i>
                        <h1 class="box-title">Daftar Stok Barang</h1>
                    </div>
                    <form action="{% url 'stok_cari' %}" method="GET">
                        <div class="input-group input-group-md col-md-4 col-xs-6 col-lg-4 pull-left">
                            <input type="text" name="cari" value="{{request.GET.cari}}" class="form-control" placeholder="Cari ......">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <div class="pull-right col-md-4">
                        <a class="btn btn-primary pull-right" href="/inventaris/stok"><i class="fa fa-pencil-square-o"></i></a>
                    </div>
                    <br/>
                    <br/>
                    <div style="text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-md justify-content-center">
                                {% if daftar_stok.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_stok.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_stok.number }} of {{ daftar_stok.paginator.num_pages }}.</span></li>
                                {% if daftar_stok.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_stok.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_stok.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="col-sm-12">
                        {% if stok != None %}
                        <p style="display: inline-block">Hasil Pencarian : {{request.GET.cari}}</p>
                        {% endif %}
                        <table id="example" class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>No</th>
                                    <th>Kode Barang</th>
                                    <th>Nama Barang</th>
                                    <th>Jumlah Stok</th>
                                    <th>Harga</th>
                                    <th>Merk</th>
                                    <th>Jenis</th>
                                    <th>Tipe</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if daftar_stok %}
                                {% for stok in daftar_stok %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ stok.kd_barang }}</td>
                                    <td>{{ stok.nm_barang }}</td>
                                    <td>{{ stok.stok_akhir }} Unit</td>
                                    <td>Rp. {{ stok.hrg_barang|intcomma }},-</td>
                                    <td>{{ stok.merk_id }}</td>
                                    <td>{{ stok.jenis_id }}</td>
                                    <td>{{ stok.tipe_id }}</td>
                                </tr>
                                {% endfor %}
                                {% elif stok != None %}
                                <tr>
                                    <td colspan="9"><center>Barang tersebut tidak ada...</center></td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="9"><center>Tidak ada data stok saat ini...</center></td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table> 
                    </div>
                    <div style="text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-md justify-content-center">
                                {% if daftar_stok.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_stok.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_stok.number }} of {{ daftar_stok.paginator.num_pages }}.</span></li>
                                {% if daftar_stok.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_stok.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_stok.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}

{% endblock %}