{% extends  "layout/admin/base-admin.html" %}
{% load static %}
{% load humanize %}
{% block extrastyle %}
<style>
    .pagination a {
        color: black;
        float: left;
        padding: 4px 8px;
        text-decoration: none;
        transition: background-color .3s;
    }
    
    .pagination a.active {
        background-color: dodgerblue;
        color: white;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
</style>
{% endblock%}

{% block page_content %}
<section class="content-header">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-footer clearfix">
                    <div class="box-header with-border">
                        <i class="fa fa-list-alt"></i>
                        <h1 class="box-title">Daftar Stok Barang</h1>
                    </div>
                    <form action="{% url 'stok_grid_cari' %}" method="GET">
                        <div class="input-group input-group-md col-md-4 col-xs-6 col-lg-4 pull-left">
                            <input type="text" name="cari" value="{{request.GET.cari}}" class="form-control" placeholder="Cari ......">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <div class="pull-right col-md-4">
                        <a class="btn btn-primary pull-right" href="/inventaris/stok/list"><i class="fa fa-list"></i></a>
                    </div>
                    <br/>
                    <br/>
                    <center>
                        <nav aria-label="Page navigation example" style="display: inline-block">
                            <ul class="pagination pagination-lg pagination-sm pagination-md justify-content-center">
                                {% if daftar_stok.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_stok.previous_page_number }}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_stok.number }} of {{ daftar_stok.paginator.num_pages }}.</span></li>
                                {% if daftar_stok.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_stok.next_page_number }}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_stok.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </center>
                    <!-- KONTEN -->
                    <div class="row">
                    <!--END KONTEN  -->
                    <center>
                        <nav aria-label="Page navigation example" style="display: inline-block">
                            <ul class="pagination pagination-lg pagination-sm pagination-md justify-content-center">
                                {% if daftar_stok.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_stok.previous_page_number }}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_stok.number }} of {{ daftar_stok.paginator.num_pages }}.</span></li>
                                {% if daftar_stok.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_stok.next_page_number }}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_stok.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}

{% endblock %}