{% extends  "layout/admin/base-admin.html" %}
{% load static %}
{% load humanize %}

{% block extrastyle %}
<style>
.pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
</style>
{% endblock%}

{% block page_content %}
<section class="content-header">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-footer clearfix">
                    <div class="box-header with-border">
                        <i class="fa fa-list-alt"></i>
                        <h1 class="box-title">Daftar Barang Keluar</h1>
                    </div>
                    <form action="{% url 'barangkeluar_grid_cari' %}" method="GET">
                        <div class="input-group input-group-md col-md-4 col-xs-6 col-lg-4 pull-left">
                            <input type="text" name="cari" value="{{request.GET.cari}}" class="form-control" placeholder="Cari ......">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <div class="pull-right col-md-4">
                        <a class="btn btn-primary pull-right" href="/inventaris/barangkeluar/tambah"><i class="fa fa-plus"></i> Tambah</a>
                        <a class="btn btn-primary pull-right" href="/inventaris/barangkeluar/list"><i class="fa fa-th-list"></i></a>
                    </div>
                    <br/>
                    <br/>
                    <!-- pagination atas -->
                    <div style="text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-md justify-content-center">
                                {% if daftar_barangkeluar.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_barangkeluar.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_barangkeluar.number }} of {{ daftar_barangkeluar.paginator.num_pages }}.</span></li>
                                {% if daftar_barangkeluar.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_barangkeluar.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_barangkeluar.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!-- pagination atas-->
                    <br/>
                    {% if messages %}
                    <div class="col-sm-12">
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 {% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="icon fa fa-check"></i> {{ message }}</h4>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    <!-- KONTEN -->
                    <div class="row">
                        <div class="col-sm-12">
                            {% if barang_keluar != None %}
                            <p style="display: inline-block">Hasil Pencarian : {{request.GET.cari}}</p>
                            {% endif %}
                            {% if daftar_barangkeluar %}
                            {% for data in daftar_barangkeluar %}
                            <div class="box box-warning">
                                <br>
                                <div class="row">
                                    <div class="col-sm-2">
                                        {% if data.foto_keluar %}
                                        <img src="{{data.foto_keluar.url}}" class="img-responsive img-thumbnail" width="100" height="100" />
                                        {% else %}
                                        <img src="{% static 'assets/images/noimage.png' %}" class="img-responsive img-thumbnail" width="100" height="100" />
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <h5><strong>Nama Barang</strong></h5>
                                            <p>{{data.nama_barang}}</p>
                                            <h5><strong>Kode Barang</strong></h5>
                                            <p>{{data.kode_barang}}</p>
                                            <h5><strong>Harga Satuan</strong></h5>
                                            <p>Rp. {{data.harga_satuan|intcomma}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <h5><strong>Tanggal Keluar : </strong></h5>
                                            <p>{{data.tanggal}}</p>
                                            <h5><strong>Serial Number: </strong></h5>
                                            <p>{{data.serialnumber}}</p>
                                            <h5><strong>Jumlah : </strong></h5>
                                            <p>{{data.jumlah}} Unit</p>
                                            <strong><h5>Customer : </strong></h5>
                                            <p>{{data.customer_id}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <h5><strong>Alamat Customer : </strong></h5>
                                            <p>{{data.alamat_customer}}</p>
                                            <h5><strong>Nomor Resi : </strong></h5> 
                                            <p>{{data.no_resi}}</p>
                                            <h5><strong>No. Bukti Beli : </strong></h5>
                                            <p>{{data.no_bukti}}</p>
                                        </div>
                                    </div>
                                    {% if request.session.level == 'SuperAdmin' %}
                                    <div class="col-sm-2">
                                        {% if forloop.first %}
                                        <a href="/inventaris/barangkeluar/edit/{{ data.id }}" type="button" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                                        {% endif %}
                                        <a href="/inventaris/barangkeluar/delete/{{ data.id }}" type="button" class="btn btn-danger btn-sm confirm-delete">Hapus</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                    {% elif barang_keluar != None %}
                                    <div class="box box-warning">
                                        <br/>  
                                        <span><center>Barang Tersebut Tidak Ada</center></span>
                                        <br/>
                                    </div>
                                    {% else %}
                                    <div class="box box-warning">
                                        <br/>  
                                        <span><center>Tidak ada data barang keluar saat ini...</center></span>
                                        <br/>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!--END KONTEN  -->
                        <!-- pagination bawah -->
                        <div style="text-align: center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-md justify-content-center">
                                    {% if daftar_barangkeluar.has_previous %}
                                    <li class="page-item">
                                        <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                        <a href="?page={{ daftar_barangkeluar.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                    </li>
                                    {% endif %}
                                    <li class="page-item disabled"><span class="current">Page {{ daftar_barangkeluar.number }} of {{ daftar_barangkeluar.paginator.num_pages }}.</span></li>
                                    {% if daftar_barangkeluar.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ daftar_barangkeluar.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                        <a class="page-link" href="?page={{ daftar_barangkeluar.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        <!-- pagination bawah -->  
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
        
        {% block extrajs %}
        <script>
            $('.confirm-delete').on('click', function(e) {
                return confirm('Apakah anda yakin ingin menghapus data tersebut?')
            })
        </script>
        {% endblock %}