{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block page_content %}
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-edit"></i>
                    <h1 class="box-title">Edit Tipe - <strong> {{tipe.nama_tipe}} </strong></h1>
                </div>
                <div class="box-body">
                    <form action="{% url 'tipe_edit' pk=tipe.pk %}" method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <div class="col-sm-8">
                            <br>
                            <div class="form-group">
                                <label for="nama_tipe" class="col-sm-2 control-label">{{form.nama_tipe.label}}: </label>
                                <div class="col-sm-10">
                                    {{form.nama_tipe}}
                                </div>
                            </div>
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Edit</button>
                                <!-- modal konfirmasi delete -->
                                <div class="modal fade" id="myModal" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="modal-title">Konfirmasi Edit</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Apakah anda yakin ingin mengubah tipe <strong>{{tipe.nama_tipe}}</strong> ?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="submit" value="Edit" class="btn btn-warning"></input>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Tidak</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{% url 'tipe' %}" type="button" class="btn btn-primary">Kembali</a>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}