{% load static %}
<style>
    .imgframe {
        border: 3px solid #367fa9;
        display: block;
        margin: 0px;
        text-align:center;
    }
    .imgframe img {
        border: 3px solid #367fa9;
        margin: 0;
        background: #367fa9;
        padding: 0px;
    }
</style>
<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img style="background-color: #367fa9;" src="{% static 'assets/images/logo.png' %}" class="imgframe centerimg" width="50" height="50" /></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Inventaris</b> Barang</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">{{ request.session.nm_lengkap }}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a href="/changepassword/{{ request.session.id }}">Ubah password</a></li>
                        <li role="presentation"><a href="/inventaris/logout">Logout </a></li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
            </ul>
        </div>
    </nav>
</header>