{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block page_content %}
<section class="content-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-edit"></i>
                    <h1 class="box-title">Tambah Supplier</strong></h1>
                </div>
                <div class="box-body">
                    <form action="{% url 'supplier_add' %}" method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <div class="col-sm-8">
                            <br>
                            <div class="form-group">
                                <label for="nama_supplier" class="col-sm-3 control-label">{{form.nama_supplier.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.nama_supplier}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="alamat_supplier" class="col-sm-3 control-label">{{form.alamat_supplier.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.alamat_supplier}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="notlp_supplier" class="col-sm-3 control-label">{{form.notlp_supplier.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.notlp_supplier}}
                                </div>
                            </div>
                            <div class="form-group col-md-4 pull-right">
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Tambah</button>
                                <!-- modal konfirmasi delete -->
                                <div class="modal fade" id="myModal" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="modal-title">Konfirmasi Tambah</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Apakah anda yakin ingin menambah supplier ?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="submit" value="Tambah" class="btn btn-warning"></input>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Tidak</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{% url 'supplier' %}" type="button" class="btn btn-primary">Kembali</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
    $('.confirm-add').on('click', function(e) {
        return confirm('Apakah anda yakin ingin menambah data tersebut?')
    })
</script>
{% endblock %}